@import url("//fonts.googleapis.com/css?family=Audiowide|Cabin:400,700");
/* text */
h1 {
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 4.1;
    color: #05386B; 
    font-size: 50px;
    text-align: center;
}
h2 {
    font-family: 'Helvetica', cursive;
    font-weight: 500;
    line-height: 1.1;
    color: #05386B;
    font-size: 20px;
    text-align: center;
}
h2.typed {
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 1.1;
    color: #05386B;
    font-size: 20px;
    text-align: center;
}
h3 {
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 1;
    color: black;
    font-size: 15px;
    text-align: center;
}
h4 {
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 1;
    color:  #ECECEC;
    font-size: 10px;
    text-align: center;
}
h4.setup {
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 1;
    color:  #05386B;
    font-size: 10px;
    text-align: center;
}
h5 {
    font-family: 'Helvetica', cursive;
    font-weight: 500;
    line-height: 0.8;
    color: black;
    font-size: 6px;
    text-align: center;
}
h4.foot {
    font-family: 'Helvetica', cursive;
    font-weight: 500;
    line-height: 1;
    color: #778899;
    font-size: 10px;
    text-align: center;
}
h2.setup{
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 1.1;
    color: #05386B;
    font-size: 20px;
    text-align: center;
}
h2.pots{
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 1.1;
    color:   #ECECEC;
    font-size: 25px;
    text-align: center;
}
a {
    color: black;
}
/* layout of page */
body {
    background-color: #ECECEC;
}
div.mid {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* buttons for each game on main page and data download */
.tomato_btn{
    background-color: #F78888;
    height: 60%;
    width: 25%;
    border: 10px dashed grey;
    position: absolute;
    top: 60%;
    left: 20%;
    margin-right: -80%;
    transform: translate(-50%, -50%)
}
.download_tomato{
    background-color:  #F78888;
    border: 5px dashed grey;
}
.egg_btn{
    background-color: #F3D250;
    height: 60%;
    width: 25%;
    border: 10px dashed grey;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.download_chick{
    background-color:  #F3D250;
    border: 5px dashed grey;
}
.pumpkin_btn{
    background-color: #90CCF4;
    height: 60%;
    width: 25%;
    border: 10px dashed grey;
    position: absolute;
    top: 60%;
    left: 80%;
    margin-right: -20%;
    transform: translate(-50%, -50%)
}
.download_pumpkin{
    background-color:  #90CCF4;
    border: 2px dashed grey;
}
/* hover over buttons */
.container {
  width: auto;
  height: auto;
  overflow: hidden;
}
.container:hover {
  opacity: 1;
}
/* #########################*/
/* hidden pages */
/* back buttons */
.btn-primary {
    background-color:  #05386B;
    color: white;
    opacity: 0.7;
    border: 2px solid;
}
.btn-primary:hover {
  background-color: grey; 
}
/* #########################*/
/* settings pumpkin */
.btn-info {
    background-color: white !important;
    border: 2px solid black !important;
    padding: 32px 32px;
}
.btn-info:hover {
    opacity: 0.6;
}

.shiny-radiomatrix{
    padding: 10px;
    width: 100%;
    font-family: 'Audiowide', cursive;
    font-size: 12px; 
}
.shiny-radiomatrix tr:nth-child(even){
    background-color: #f2f2f2;
}
/* heat and light chekbox text */
#heat
{
    padding: 20px;
    font-family: 'Audiowide', cursive;
}
#light
{
    padding: 20px;
    font-family: 'Audiowide', cursive;
}
/* pumpkin plots */
.pump-info {
    background: #90CCF4;
    border: 10px dashed grey;
    height: 90%;
}
.pump_wrapper {
    display: grid;
    grid-template-columns: 20% 20%;
    grid-template-rows: auto;
    grid-gap: 15px;
    justify-content: space-evenly;
    border: 10px solid black;
}
.bg-wrap {
    background:  #BEDABA;
    width: 100%;
    overflow: hidden;
}
.box {
    background: url(img/soil.png);
    color: #fff;
    border-radius: 2px;
    padding: 5px;
    height: 275px;
    width: 275px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
/* pumpkin grow gif */
img.grow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* chick (henhouse) plots */
.chick_wrapper {
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 50% 50%;
    grid-gap: 1px 50px;
    justify-content: space-evenly;
}
#innerchick-grid {
  display: grid;
  grid-template-columns: 8% 43% 43%;
  grid-template-rows: 25%;
  grid-gap: 3px;
}
#innerchick-grid > div {
    background: #E4D96F;
    border: 10px dashed grey;
    padding: 1%;
}
.boxed{
    background-color: #E4D96F;
    width: 20%;
}
.boxed_emo{
    background-color: #DCDCDC;
    width: 40%;
    border: 1px solid black;
    display: block;
    margin-left: 30%;
    margin-right: 70%;
    border-radius: 50px 20px;
}
.info-chick {
    background: #da7959;
    display: block;
    width: 100%;
    border: 10px dashed grey;
}
/* tomato (greenhouse) info blocks and setup plots */
.info-tom-1 {
    background:#F78888;
    display: block;
    width: 100%;
    border: 10px dashed grey;
}
.recipies {
    background:#F78888;
    border: 10px dashed grey;
    width: 90%;
    position: relative;
}
.info-tom {
    display: block;
    width: 100%;
    display: flex;
}
.info-tom > div {
  flex: 1; 
}
#greenhouse {
    /* background: url(img/gradient.png); */
    background-image: linear-gradient(to right, #FDFD96 , #FFFFEA);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.dropgridcell{
    border: 1px dotted #adadad;
}
#greenhouse h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* tray seedling colours */
.tray1 {
    color: #E87722
}
.tray2 {
    color: #1B9E77
}
.tray3 {
    color: #9ECAE1
}
.tray4 {
    color: #7570B3
}
.tray5 {
    color: #E7298A
}
.tray6 {
    color: #66A61E
}

/* style dragelements */
.dragelement {
    width: 50px;
    height: 50px;
}
