@import url("//fonts.googleapis.com/css?family=Audiowide|Cabin:400,700");
/* text */
h1 {
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 5.1;
    color: white;
    font-size: 40px;
    text-align: center;
}
h2 {
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 1.1;
    color: white;
    font-size: 20px;
    text-align: center;
}
h3 {
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 1;
    color: black;
    font-size: 15px;
    text-align: center;
}
h4 {
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 1;
    color: black;
    font-size: 10px;
    text-align: center;
}
h5 {
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 0.8;
    color: black;
    font-size: 6px;
    text-align: center;
}
h4.foot {
    font-family: 'Audiowide', cursive;
    font-weight: 500;
    line-height: 1;
    color: white;
    font-size: 10px;
    text-align: center;
}
a {
    color: white;
}
/* layout of page */
body {
    background-color: black;
}
div.mid {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}
/* buttons for each game */
.tomato_btn{
    color: black;
    position: absolute;
    top: 50%;
    left: 20%;
    margin-right: -80%;
    transform: translate(-50%, -50%)
}
.egg_btn{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.pumpkin_btn{
    color: black;
    position: absolute;
    top: 50%;
    left: 80%;
    margin-right: -20%;
    transform: translate(-50%, -50%)
}
/* hover over buttons for stories */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}
.container {
  position: relative;
  width: 100%;
}
.container:hover .overlay {
  opacity: 1;
}
/* hidden pages */
/* back buttons */
.btn-primary {
    background-color: white;
    color: black;
}
.btn-primary:hover {
  background-color: grey; 
  color: white;
}
/* info settings pumpkin */
.btn-info {
    background-color: black !important;
    border: 2px solid white !important;
    padding: 32px 32px;
}
.btn-info:hover {
    opacity: 0.6;
}

.info {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    width: 20%;
}
.shiny-radiomatrix{
    padding: 10px;
    width: 100%;
    font-family: 'Audiowide', cursive;
    font-size: 12px; 
}
.shiny-radiomatrix tr:nth-child(even){
    background-color: #f2f2f2;
}
/* heat and light chekbox text */
#heat
{
    padding: 20px;
    font-family: 'Audiowide', cursive;
}
#light
{
    padding: 20px;
    font-family: 'Audiowide', cursive;
}
/* pumpkin plots */
.pump_wrapper {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 40%;
    grid-gap: 125px 2px;
    justify-content: space-evenly;
    border: 10px solid white;
}
.bg-wrap {
    background: url(img/tiles.png);           
}
.box {
    background: url(img/soil.png);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    height: 275px;
}
/* pumpkin grow gif */
img.grow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* chick (henhouse) plots */
.bgchick-wrap {
    background-color: lightgrey;
    overflow: auto;
}
.chick_wrapper {
    display: grid;
    grid-template-columns: 19% 2% 19% 2% 19% 2% 19%;
    grid-template-rows: 5% 90%;
    grid-gap: 1px 50px;
    justify-content: space-evenly;
    border: 10px solid black;
}
#innerchick-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25%;
  grid-gap: 3px;
}
#innerchick-grid > div {
    background: url(img/straw.jpg);
    border: 10px solid darkgrey;
    padding: 1%;
    height: 200px;
}
#tiers {
    display: grid;
    grid-template-columns: 100;
    grid-template-rows: 25%;
}
.boxed{
    background-color: lightgrey;
    width: 20%;
}
.boxed_emo{
    background-color: white;
    width: 40%;
    border: 1px solid black;
    display: block;
    margin-left: 30%;
    margin-right: 70%;
    border-radius: 50px 20px;
}
.info-chick {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    width: 50%;
}
/* tomato (greenhouse) plots */
.info-tom {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    width: 50%;
}
.bgtom-wrap {
    background-color: lightgrey;  
    height: 400px;
    
}
#greenhouse {
    background: url(img/gradient.svg);  
    display: block;
    width: 100%;
    height: 600px;
}
/* tray seedling colours */
.tray1 {
    color: #E87722
}
.tray2 {
    color: #1B9E77
}
.tray3 {
    color: #9ECAE1
}
.tray4 {
    color: #7570B3
}
.tray5 {
    color: #E7298A
}
.tray6 {
    color: #66A61E
}
.tray7 {
    color: #E6AB02
}
.tray8 {
    color: #A6761D
}
.tray9 {
    color: #666666
}
.tray10 {
    color: #8DA0CB
}
.tray11 {
    color: #FC8D62
}
.tray12 {
    color: #66C2A5
}

/* style dragelements */
.dragelement {
    width: 50px;
    height: 50px;
}
